@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --Bright_orange: hsl(31, 77%, 52%);
  --Dark_cyan: hsl(184, 100%, 22%);
  --VeryDark_cyan: hsl(179, 100%, 13%);
  --Transparent_white: hsla(0, 0%, 100%, 0.75);
  --Verylightgray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--Verylightgray);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* position: relative; */
}

.sec {
  padding: 45px;
  padding-bottom: 55px;
  width: 300px;
}

.sec1 {
  background-color: var(--Bright_orange);
  border-radius: 10px 0 0 10px;
}

.sec2 {
  background-color: var(--Dark_cyan);
}

.sec3 {
  border-radius: 0 10px 10px 0;
  background-color: var(--VeryDark_cyan);
}

.main h1 {
  font-size: 40px;
  padding: 30px 0;
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.description {
  word-wrap:normal;
  margin-bottom: 100px;
    line-height: 25px;
    color: var(--Transparent_white);
    font-size: 15px;
}

.main .btn {
  border: 2px solid var(--Verylightgray);
  border-radius: 30px;
  padding: 12px 25px;
  background-color: var(--Verylightgray);
  transition: 0.3s all;
}

.main .btn:hover {
  background-color: transparent;
  color: var(--Verylightgray);
}

.sec1Btn {
  color: var(--Bright_orange);
}

.sec2Btn {
  color: var(--Dark_cyan);
}

.sec3Btn {
  color: var(--VeryDark_cyan);
}

@media (max-width: 900px) {
  .sec {
    width: 270px;
    padding: 41px;
  }

}

@media (max-width: 770px) {
  .main{
    flex-direction: column;
    margin: 10vw auto;
  }
  .sec {
    width: 400px;
  }
  .sec1 {
    border-radius: 10px 5px 0 0;
  }
  .sec3 {
    border-radius: 0 0 10px 10px;
  }
}

@media (max-width: 375px) {
  .sec {
    width: 280px;
  }
}